{
  // 从下往上 从右往左的执行顺序
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67"
        },
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ],"@babel/preset-react"
  ]
}